EMAIL_HOST=mail.motoguru.in
EMAIL_PORT=465
EMAIL_USER=enquiry@motoguru.in
EMAIL_PASS=
EMAIL_SECURE=ssl
EMAIL_FROM=enquiry@motoguru.in
EMAIL_FROM_NAME=Motoguru Website
EMAIL_TO=enquiry@motoguru.in
NEXT_PUBLIC_CONTACT_ENDPOINT=/api/contact/
